<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <% include css/head %>
</head>
<body>
    <form action="/login" method="post">
        <!-- Email: <input type="text" name="email"><br /> -->
        <span class="fa fa-user-circle fa-2x"></span>&nbsp;<input type="text" name="nickname"><br />
        <span class="fa fa-lock fa-2x"></span>&nbsp;<input type="password" name="password"><br />
        <input type="submit" value="Login" class="btn btn-dark"/>
        You don't have an account? <a href="/signup">Signup</a> Or visit <a href='/'>home</a>
    </form>
    <% if (message.length > 0) { %>
        <div>
          <%= message %>
        </div>
    <% } %>
</body>
</html>