<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main Page</title>
</head>
<body>
    <h1>Challege Node</h1>
    <a href='/login'>Login account</a>
    <a href='/signup'>Signup account</a>
</body>
</html>