<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <% include css/head %>
    <link href="./css/views_style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark" style="color: white">
        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="fa fa-user-o fa-fw"></span>
                Welcome,<%= user.local.nickname %>!
            </li>
            <li class="nav-item">
                <span class="fa fa-sign-out fa-fw"></span>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container">
    <div class="card">
        <div class="card-header">
        <img class="card-img-top img-fluid" src="../images/índice.jpg" alt="Card image">
        </div>
        <div class="card-body">
            <p>Id: <%= user._id %></p>
            <p class="card-text">Email: <%= user.local.email %></p><br>            
        </div>
    </div>
    </div>    
</body>
</html>