<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <script>
        var check = function() {
        if (document.getElementById('password').value !=
            document.getElementById('confirm_password').value) {
            alert("Passwords doesn't match!");
            document.getElementById('confirm_password').value = "";
        }
    }
    </script>
    <% include css/head %>
</head>
<body>
    <form action="/signup" method="post">
        Email: <input type="text" name="email" required><br/>
        Username: <input type="text" name="username" required><br/>
        Password: <input type="password" name="password" id="password" required><br/>
        Confirm Password: <input type="password" onblur='check();' id="confirm_password" required><br/>
        <input type="submit" value="Signup">
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
    Or visit <a href='/'>home</a>

    <% if (message.length > 0) { %>
        <div>
          <%= message %>
        </div>
    <% } %>
</body>
</html>