<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
</head>
<body>
    <form action="/signup" method="post">
        Email: <input type="text" name="email" required><br/>
        Username: <input type="text" name="nickname" required><br/>
        Password: <input type="password" name="password" required><br/>
        <!-- Confirm Password: <input type="password" name="pwd2" required><br/> -->
        <input type="submit" value="Signup">
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
    Or visit <a href='/'>home</a>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
    <% } %>
</body>
</html>