.col-icons {
    float: left;
    width: 25%;
    margin-top: 6px;
    /* text-align: right; */
}

.col-inputs {
    float: left;
    width: 75%;
    margin-top: 6px;
    /* text-align: left; */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Desktop */
@media only screen and (min-width: 1024px) {
   
   .col-icons{
    text-align: right; 
    width: 40%;
    padding-right: 10px;
   }
   .col-inputs{
       text-align: left;
       width:60%;
   }
}

/* Table */
@media only screen and (max-width: 1023px) {
    
}